<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <title>Node Example Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/home.css">
  <script src="javascript/home.js"></script>

</head>

<body>

  <!-- 
  _____________________________________________
    
  JumbroTron
  _____________________________________________
  -->

  <div class="jumbotron text-center">
    <h1>Node Example</h1>
    <p><u>This is an example page.</u>
      This page can load products from a database, and it can
      load a card from an API.</p>
    <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
  </div>


  <!-- 
  _____________________________________________
    
  Code Buttons
  _____________________________________________
  -->

  <div class="text-center">
    <button class="btn btn-info" onclick="grab_products()">Show All Products</button>
    <button class="btn btn-info" onclick="randomCard()">Random Card</button>
    <button class="btn btn-danger" onclick="erase()">Clear All</button>
  </div>

  <hr>

  <div class="text-center" max-width="200px">
    <h1>Set Max Price:</h1>
    <br>
    <form>
      <select class="form-control" name="price" id="price" onchange="maxPrice()">
        <option value="50.00">$50.00</option>
        <option value="100.00">$100.00</option>
        <option value="500.00">$500.00</option>
        <option value="1000.00">$1000.00</option>
        <option value="2000.00">$2000.00</option>
        <option value="5000.00">$5000.00</option>
      </select>
    </form>
  </div>
  <br><br>

  <hr>

  <!-- 
  _____________________________________________
    
  Output
  _____________________________________________
  -->

  <div class="text-center">
    <h1>Results:</h1>
    <p id="results"></p>
  </div>
  <button onclick="generateDartBoard()"> My button</button>
  <div id="svg-holder">
    
  </div>




</body>

</html>